---
import Button from "./Button"
---

<section class="flex flex-col justify-center items-center gap-10 relative W-full h-full">
    <Button href="https://loja.infinitepay.io/forjaraposa" text="Conheça nossa Loja" extraClasses="bg-green-dark absolute top-0 right-3 lg:top-10 lg:right-20" />
    <div class="flex justify-center mt-5 h-full lg:max-h-[90vh] md:h-[320px] lg:mt-0 ">  
        <img src="/Vetor_Forja.svg" alt="logo" class='h-[250px] -top-10 -left-6 absolute md:h-[380px] md:-top-12 md:-left-4 lg:h-[450px]' />
        <div class="flex flex-col justify-center items-start w-[50%] lg:mr-10">
            <h2 class="font-logo2 font-light text-2xl md:text-5xl ">Forja da</h2>
            <h1  class="font-logo1 text-orange-orangeFox text-5xl md:text-9xl">Raposa</h1>
        </div>
    </div>
</section>