---
import Button from "./Button"
---

<section class="flex flex-col justify-center items-center gap-10 relative">
    <Button href="#" text="Entre em contato" extraClasses="bg-green-dark absolute top-0 right-3 lg:top-10 lg:right-20" />
    <div class="flex justify-center mt-5 lg:max-h-[90vh] lg:mt-0">
        <div class="w-[40%]">
        <img src="/logo1.jpeg" alt="logo" class='' />
        </div>
        <div class="flex flex-col justify-center items-start w-[50%] mr-10">
            <h2 class="font-logo2 font-light text-2xl md:text-5xl ">Forja da</h2>
            <h1  class="font-logo1 text-orangeFox text-5xl md:text-9xl" >Raposa</h1>
        </div>
    </div>
</section>