---
const {alinhamento, color } = Astro.props;

let justifica = alinhamento === "direita" ? "justify-start mr-8" : "justify-end ml-8";
let rounded = alinhamento === "direita" ? "rounded-r-full" : "rounded-l-full";
let border = alinhamento === "direita" ? "border-r-2" : "border-l-2";
let modelo = color === '1' ? "bg-white border-y-2 border-orange-orangeFox md:border-2":"bg-gradient-to-l from-orange-medium to-orange-bright border-none"

---

<section class={`flex w-full ${justifica}`}>
  <div
    class={`${modelo} my-7 py-6 px-6 ${rounded} ${border}  shadow-lg shadow-orange-orangeFox/30 md:rounded-full `}
  >
    <slot />
  </div>
</section>


