---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div class="relative overflow-hidden h-full ">
		<div >
			<slot />
			<img src="/bg-spiral.svg" alt="" class=" z-[-1] opacity-60 rotate-45 absolute -right-20 top-40 h-[300px] md:h-[600px] md:right-0 md:top-0" />
		</div>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap');

</style>
